@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #7ac52d;
  --primary-light: #dfefd0;
  --secondary: #407bff;
  --text: #646768;
  --font-outfit: "Outfit", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

/* primary to 20% for the nav */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: var(--font-outfit);
}

p {
  font-family: var(--font-roboto);
  color: var(--text);
  font-size: 1.125rem;
}

section {
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.bg-gradient {
  background-color: #7ac52d80;
  filter: blur(610.5px);
}
.downloads-shadow {
  box-shadow: 0px 4px 14px 0px #00000040;
}
